$blue: #2d9cdb;
$red: #eb5757;

.form-container {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  color: black;
  display: flex;

  .item-container {
    height: 90%;
    width: 85%;
    margin: auto;

    .form-heading {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 32px;
    }

    .form-element-container {
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .form-element {
        width: 100%;

        label {
          font-family: "Roboto";
          font-weight: 700;
          font-size: 20px;
        }

        .input-field-parent {
          display: flex;
          height: 48px;
          margin-top: 10px;

          .input-field {
            min-width: 70%;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 15px;
            border: 2px solid grey;
            padding-left: 10px;
            &:focus {
              border-color: blue;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(102, 175, 233, 0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                0 0 8px rgba(102, 175, 233, 0.6);
            }
          }

          ::-webkit-input-placeholder {
            opacity: 0.7;
            font-family: "Roboto";
            font-weight: 400;
          }

          .invalidated {
            border: 2px solid $red;
          }

          .error {
            position: relative;
            width: 30%;
            margin-left: 10px;
            border-radius: 3px;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: $red;

            p {
              font-family: "Roboto";
              font-weight: 500;
              font-size: 14px;
              margin: auto;
              color: white;
              padding: 0px 5px 0px 5px;
            }
          }
        }
      }
    }

    button {
      border: 0;
      background-color: $blue;
      cursor: pointer;
      color: white;
      font-size: 15px;
      padding: 15px 80px;
      border-radius: 3px;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 18px;

      &:hover {
        background-color: #333333;
        color: white;
        transition-duration: 0.5s;
      }
    }
  }
}

#optional {
  font-size: 16px;
}

//radio.css
.input-field-parent.radio {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#radio-label {
  font-weight: 400;
  margin: 3px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid $blue;
  border-radius: 100%;
  background: #f2f2f2;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: $blue;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
