@media (max-width: 600px) {
  .main-container {
    height: 30%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    align-items: center;

    .parent-container {
      width: 75%;
      height: 85%;
      color: white;

      .hero-heading {
        font-weight: 700;
        font-size: 28px;
        margin: auto;
        text-align: left;
        top: 4px;
      }

      .sub-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        top: 0px;
        margin-top: 12px;
        width: 100%;
      }
    }
  }
}
