.main-container {
  height: 100%;
  width: 50%;
  background-image: url("../photo-1555448248-2571daf6344b.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .parent-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .hero-heading {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 70px;
      margin: auto;
      position: relative;
      top: 280px;
      text-align: left;
    }

    .sub-text {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      position: relative;
      top: 310px;
      width: 85%;
    }
  }
}
